.barra
{
    background-color: darkcyan!important;
}   



body
{
    background-color:azure ;
}


.btn-sidebar{
    position: absolute;
    z-index: 100;
    margin-top: -44px;
    margin-left: 5px;
}