.barra
{
    background-color: darkcyan!important;
}   

.icono{
    width: 40px;
    height: 40px;
}

.imagen{
    width: 100%;
    height: auto;
}

body
{
    background-color:azure ;
}


.btn-sidebar{
    position: absolute;
    z-index: 100;
    margin-top: -44px;
    margin-left: 5px;
}